.row {
	margin-left: 20px;
	color: white;
}

h2 {
	padding-left: 20px;
}

.slider {
	max-width: 1600px;
	position: relative;
	margin: 0 auto;
}

.arrowLeft {
	background-clip: content-box;
	padding: 20px 0;
	box-sizing: border-box;
	transition: 400ms all ease-in-out;
	cursor: pointer;
	width: 80px;
	z-index: 1000;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}

.arrowRight {
	padding: 20px 0;
	background-clip: content-box;
	box-sizing: border-box;
	transition: 400ms all ease-in-out;
	cursor: pointer;
	width: 80px;
	z-index: 1000;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}

.slideTitle {
	text-align: left;
	color: #f1f1f3;
}

.slideList {
	display: flex;
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	list-style: none;
}

.slideList::-webkit-scrollbar {
	display: none;
}

.swiper-wrapper {
	display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    list-style: none;
}

.slideItem {
	position: relative;
	object-fit: contain;
	width: 100%;
	margin-right: 10px;
	border-radius: 4px;
	flex-shrink: 0;
	
	& .posterWrap {
		overflow: hidden;
	}

	& .poster {
		width: 100%;
		height: 300px;
		transition: transform 0.3s;
	}

	& .movieTitle {
		color: #f1f1f3;
	}

	&:hover {
		& .poster {
			transform: scale(1.1);
		}
	}
}

.posterLarge {
	max-height: 320px;
}

.posterLarge:hover {
	transform: scale(1.1);
	opacity: 1;
}

.arrowLeft {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 32px;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
}

.arrowRight {
	position: absolute;
	top: 0;
	right: 0px;
	height: 100%;
	width: 32px;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
}

@media screen and (min-width: 1200px) {
	.row__poster {
	max-height: 160px;
	}
	.row__posterLarge {
	max-height: 360px;
	}
}

@media screen and (max-width: 768px) {
	.row__poster {
	max-height: 100px;
	}
	.row__posterLarge {
	max-height: 280px;
	}
}
